<form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">

  <h2>Login</h2>

  <div class="grid p-fluid">
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
        <input [(ngModel)]="authData.email" name="email" type="text" pInputText placeholder="Email" required >
      </div>
    </div>

    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input [(ngModel)]="authData.password" name="password" type="password" pInputText placeholder="Password" required>
      </div>
    </div>
  </div>

  <p-button type="submit" label="Login"></p-button>

</form>

